
/* Your CSS Code here. */
.holder{
    display: flexs;
    /* display: flexbox;
    flex-wrap: nowrap; */
    background-color: dodgerblue;
}
.holder > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }